# local package
-e .

# external requirements
kora
torch_geometric
torch
torchvision
torchaudio
torch_geometric
torch_sparse      -f https://pytorch-geometric.com/whl/torch-{TORCH}+{CUDA}.html
statsmodels
rdkit-pypi
matplotlib
numpy
pandas
tqdm